html,
body {
  height: 90%;
}

body{
  position: static;
  font-family: sans-serif;
  color: #fff;
  background-color: #cedcec;
}

.container {
  width: 500px;
  margin: 0 auto;
  position: relative;
}

.option,
.socket{
  display: inline-block;
  border-radius: 50%;
  background-color: #afacd6;
}

.lock{
    display: inline-block;
    border-radius: 20%;
    background-color: #918dc7;
    height:20px;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    color: #b5c0e3;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    padding: 2px;
}

#rows {
  display: inline-block;
  background-color: #b5c0e3;
  border-radius: 3px 0 0 3px;
  padding: 15px 30px;
  font-size: 0;
}

.row { margin-top: 15px; }

.option,
.code .socket,
.row .socket{
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.code .socket + .socket,
.row .socket + .socket,
.lock { margin-left: 10px; }

.code {
  border-bottom: 2px solid #323235;
  padding-bottom: 15px;
}

.secret{
  color: #b5c0e3;
  text-align: center;
  line-height: 40px;
  font-weight: 800;
  font-size: 16px;
}

#hints {
  vertical-align: bottom;
  display: inline-block;
  padding: 15px 20px;
  background-color: #b5c0e3;
  border-radius: 0 3px 3px 0;
  font-size: 0;
}

.activated {
  background-color:#918dc7;
}

.activated:active {
  animation: bounce .1s;
}

@keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.6);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hint {
  height: 40px;
}

.hint .row + .row { margin-top: 5px; }

.hint .socket {
  width: 10px;
  height: 10px;
}

.hint .socket + .socket { margin-left: 5px; }
.hint + .hint { margin-top: 15px; }

.blackhint { background-color: #000; }
.whitehint { background-color: #fff; }