html,
body {
  height: 90%;
}

body{
  position: relative;
  font-family: sans-serif;
  color: #fff;
  background-color: #cedcec;
}

.container {
  width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 1
}


.socket{
  display: inline-block;
  border-radius: 50%;
  background-color: #afacd6;
}

.lock{
  display: inline-block;
  border-radius: 20%;
  background-color: #afacd6;
  height:20px;
  width: 20px;
  line-height: 20px;
  vertical-align: middle;
  color: #b5c0e3;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  padding: 4px;
  position: absolute;
  top: 0;
  z-index: 10;
}

#rows {
  display: inline-block;
  position: relative;
  background-color: #b5c0e3;
  border-radius: 3px 0 0 3px;
  padding: 15px 20px;
  font-size: 0;
}

.row { margin-top: 15px;
z-index: 0; }

.code .socket,
.row .socket{
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.row .socket + .socket
 { margin-left: 10px; }

.code {
  border-bottom: 2px solid #30303b;
  padding-bottom: 15px;
}

.secret{
  color: #b5c0e3;
  text-align: center;
  line-height: 40px;
  font-weight: 800;
  font-size: 16px;
}

#hints {
  vertical-align: bottom;
  display: inline-block;
  padding: 11px 13px;
  background-color: #b5c0e3;
  border-radius: 0 3px 3px 0;
  font-size: 0;
}

.test {
  display: inline-block;
}

.activated {
  background-color:#918dc7;
}

.activated:active {
  animation: bounce .1s;
}

.hint {
  height: 40px;
  position: relative;
  z-index: 10;
}

.hint .row + .row { margin-top: 5px; }



.hint .socket {
  width: 10px;
  height: 10px;
}

.hint .socket + .socket { margin-left: 5px; }
.hint + .hint { margin-top: 14px; }

.modal {
  display: none;
  z-index: 100;
  position: absolute;
  top: 30%;
  max-width: 100%;
  max-height: 100%;
  color: white;
  background-color:#918dc7;
  padding: 15px;
  margin: 5px;
  animation: slide 1s;
  animation-timing-function: ease-out;
}
/* I got this animation from the internet and tweaked it to my liking */
@keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.6);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide {
  0% { transform: translateX(-900px)}
  100% { transform: translateX(0) }
}
